{% extends "app/layout.html" %}

{% block content %}

<style>
    h2 {
        margin-bottom: 30px;
        font-family: "Arial Black", serif;
        font-size: 40px;
    }
</style>

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<address>
    Faculty of Computing &amp; Informatics<br />
    Multimedia University<br />
    <h6 title="email">:1211108075@student.mmu.edu.my</h6>
</address>
<br>
<address>
    <h3>Ng Jia Huang</h3>
    Faculty of Computing &amp; Informatics<br />
    Multimedia University<br />
    <h6 title="email">:1211309530@student.mmu.edu.my</h6>
</address>

<br>
<address>
    <h3>Say Si Ting</h3>
    Faculty of Computing &amp; Informatics<br />
    Multimedia University<br />
    <h6 title="email">:1211108625@student.mmu.edu.my</h6>
</address>

<br>
<address>
    <h3>Tan Jing Yi</h3>
    Faculty of Computing &amp; Informatics<br />
    Multimedia University<br />
    <h6 title="email">:1211105905@student.mmu.edu.my</h6>
</address>

{% endblock %}
